* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  line-height: 21px;
  scroll-behavior: smooth;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 45px;
}

h4 {
  font-size: 24px;
}

p {
  font-size: 16px;
  margin: 10px 0;
  line-height: 21px;
}

a {
  text-decoration: none;
}

.contenedor {
  margin: auto;
  max-width: 1300px;
  overflow: auto;
  padding: 0 20px;
}

.large {
  font-size: 20px;
}

.display1 {
  font-size: 56px;
}

.boton {
  display: inline-block;
  font-size: 15px;
  padding: 12px 40px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 30px;
}

.botonClaro {
  background: #BFC4CA;
  border: none;
  color: #ffffff;
}

.botonOscuro {
  background: #932020;
  border: 1px solid #932020;
  color: #ffffff;
}

form label, form h4 {
  display: block;
  margin-bottom: 6px;
  color: #4D4D4D;
}

form .grupoFormulario {
  margin-bottom: 16px;
}

form .controlFormulario {
  width: 100%;
  padding: 7px 12px;
  font-size: 16px;
  line-height: 25px;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #4D4D4D;
  border-radius: 20px;
}

#cabecera {
  background: #932020;
  color: #fff;
  height: 100vh;
}

#cabecera h1 {
  font-weight: 700;
  padding-bottom: 20px;
  line-height: 70px;
}

#cabecera .cabeceraRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
}

#cabecera .cabeceraRowTexto {
  width: 60%;
  padding-right: 40px;
  padding-top: 80px;
}

#cabecera .cabeceraRowTexto a {
  margin-top: 30px;
}

#cabecera .cabeceraRowFormulario {
  width: 40%;
  margin-left: 90px;
}

#cabecera .cabeceraRowFormulario .logoFormulario {
  background-image: -webkit-gradient(linear, left top, right top, from(#bb1313), to(#fbc111));
  background-image: linear-gradient(to right, #bb1313, #fbc111);
  padding: 70px;
  border-radius: 50px;
}

#cabecera .cabeceraRowFormulario .logoFormulario img {
  height: 80px;
  display: block;
  margin: 0 auto;
}

#cabecera .cabeceraRowFormulario form {
  background: #FFF;
  padding: 50px 50px 70px 50px;
  border-radius: 50px;
}

#cabecera .cabeceraRowFormulario form .boton {
  width: 100%;
}

#mas {
  padding: 60px 0;
}

#mas h2 {
  line-height: 50px;
  font-weight: 10px;
  padding-bottom: 20px;
}

#mas .masRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 40px;
  padding-top: 20px;
}

#mas .masRowContenido {
  padding-right: 40px;
}

#footer {
  background: #932020;
  text-align: center;
  padding: 30px;
  color: #BFC4CA;
}

#footer a {
  text-decoration: none;
  color: #BFC4CA;
}

@media (max-width: 700px) {
  .display1 {
    font-size: 3rem;
  }
  #cabecera {
    height: 100%;
  }
  #cabecera .cabeceraRow {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 20px;
  }
  #cabecera .cabeceraRowTexto {
    width: 100%;
    padding-right: 0;
    padding-top: 20px;
  }
  #cabecera .cabeceraRowformulario {
    width: 100%;
    margin-left: 0;
    margin-bottom: 50px;
    padding-top: 50px;
  }
}
/*# sourceMappingURL=main.css.map */